version: '3.2'

services:

  frontend:
    build: frontend
    ports:
      - 20080:80
    environment:
      PHP_ENABLE_XDEBUG: 1
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      # Re-use local composer cache via host-volume
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
      # Mount source-code for development
      - ./:/app
      - ./docker/xdebug.ini:/usr/local/etc/php/conf.d/docker-xdebug.ini:ro
    depends_on:
      - mysql

  backend:
    build: backend
    ports:
      - 21080:80
    environment:
      PHP_ENABLE_XDEBUG: 1
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      # Re-use local composer cache via host-volume
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
      # Mount source-code for development
      - ./:/app
      - ./docker/xdebug.ini:/usr/local/etc/php/conf.d/docker-xdebug.ini:ro
    depends_on:
      - mysql

  mysql:
    image: mysql:5.7
    ports:
      - "3307:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=verysecret123
      - MYSQL_DATABASE=yii2advanced
      - MYSQL_USER=yii2advanced
      - MYSQL_PASSWORD=secret123
    volumes:
      - mysql_data:/var/lib/mysql

  #pgsql:
  #  image: postgres:9.5
  #  environment:
  #    - POSTGRES_DB=yii2advanced
  #    - POSTGRES_USER=yii2advanced
  #    - POSTGRES_PASSWORD=secret

volumes:
  mysql_data: